@charset "UTF-8";
/*==========-==========-==========-==========-==========*/
/* 大略 */
/* -------------------------------------------------- */
#wrapper {
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
}

header, main, footer {
  padding: 15px 2.5rem;
}

/*==========-==========-==========-==========-==========*/
/* ヘッダー */
/* -------------------------------------------------- */
header {
  background-color: #7e20eb;
  padding: 5px 2.5rem;
  height: 70px;
  justify-content: space-between !important;
  padding: 0 5rem;
}

header h1 {
  font-family: 'Yusei Magic', sans-serif;
}

header h1 a {
  color: #fff;
  border: transparent 1px solid;
  border-radius: 3px;
  padding: 10px;
}

header h1 a:hover {
  text-decoration: none;
  color: #fff;
  border-color: white;
}

header h2 {
  color: whitesmoke;
}

/*==========-==========-==========-==========-==========*/
/* 細部の意匠 */
/* -------------------------------------------------- */
input {
  width: 150px;
  border-radius: 3px;
  border-color: gray;
}

h2 {
  position: relative;
  z-index: 1;
  padding-bottom: 16px;
  color: #fff;
  position: sticky;
  top: 16px;
  left: 0;
}

h2::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-16px);
  left: -24px;
  width: calc(100% + 24px * 2);
  height: calc(100% + 16px);
  background-color: #7e20eb;
  z-index: -1;
}

#login {
  min-height: calc(100vh - 70px - 54px);
}

#login #contents-11 {
  min-width: 480px;
  max-width: 480px;
}

#login #contents-11 form {
  margin: 2rem 0;
}

#login #contents-11 form .input-column p {
  text-align: start;
  margin-left: calc((100% - 300px) / 2);
}

#login #contents-11 form .input-column input {
  width: 300px;
  margin: 0 calc((100% - 300px) / 2) 1rem;
}

#login #contents-11 form button {
  width: 300px;
  margin-top: 3rem;
}

#login #contents-11 .anymore {
  margin: 1rem calc((100% - 300px) / 2);
  font-size: 1.3rem;
}

#login #contents-11 .anymore span {
  color: #0d6efd;
  text-decoration: underline;
}

/* -------------------------------------------------- */
#ban {
  min-height: calc(100vh - 70px - 54px);
}

#ban .contents {
  min-height: calc((100vh - 70px - 54px) - 15px * 2 - 1rem - 2rem);
}

#ban .contents p {
  text-align: center;
}

#ban .contents p:nth-of-type(1) {
  font-size: 3rem;
  letter-spacing: 1px;
  margin-top: 10%;
}

#ban .contents p:nth-of-type(2) {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-top: 10%;
}
