<header class="d-flex bg-info justify-content-between p-3">
    <a href="/client/shop/top" class="text-decoration-none text-light h3 font-weight-bold">HAL自動車</a>
    <div class="d-flex justify-content-between w-25">
        <a href="/client/user/mypage_top" class="btn btn-light">マイページ</a>
        <a href="/client/user/history" class="btn btn-light">車両一覧</a>
        <a href="/login" class="btn btn-light">ログアウト</a>
    </div>
</header>