<!DOCTYPE HTML>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <!-- <link rel="icon" type="image/x-icon" href="./img/favicon.png"> -->
   <title>JAVAJAVA</title>
   <link rel="stylesheet" href="./css/BS.css">
   <link rel="stylesheet" href="./css/3.css">
</head>
<body>
<div id="wrapper">

<header class="displayFlex">
   <h1><a href="#">会員情報一覧画面</a></h1>
</header>

<main id="inf">

<article class="contents" id="contents-11">
   <div class="displayFlex">
      <div class="displayFlex" id="search">
         <p>name：</p>
         <input type="text" name="searchText">
         <button class="whiteBtn" name="btn" value="productSearch">検索</button>
      </div>
      <button name="btn" value="productRegister">社員新規登録</button>
   </div>
</article><!-- contents -->

<article class="contents" id="contents-12">
   <div class="displayFlex h3-12">
      <h3 class="this">会員一覧</h3>
      <h3 class="that">社員一覧</h3>
   </div>
   <div id="tagBG"></div>
   <table class="table table-striped table-float">
      <tr>
         <th class="tableMenu">ID▾</th>
         <th class="tableMenu">name▾</th>
         <th class="tableMenu">e-mail▾</th>
         <th class="tableMenu">tel▾</th>
         <th class="tableMenu">BAN</th>
      </tr>
      <tr><td>data03</td><td>data03</td><td>data03</td><td>data08</td><td><button>BAN</button></td></tr>
      <tr><td>data03</td><td>data03</td><td>data03</td><td>data08</td><td><button>BAN</button></td></tr>
      <tr><td>data03</td><td>data03</td><td>data03</td><td>data08</td><td><button>BAN</button></td></tr>
      <tr><td>data03</td><td>data03</td><td>data03</td><td>data08</td><td><button>BAN</button></td></tr>
      <tr><td>data03</td><td>data03</td><td>data03</td><td>data08</td><td><button>BAN</button></td></tr>
   </table>
   <input type="hidden" name="id" value="">
</article><!-- contents -->

</main>

<footer>
   <p>COPYRIGHT © ALL RIGHTS RESERVED.</p>
</footer>

</div><!-- wrapper -->
</body>
</html>