<!DOCTYPE HTML>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <!-- <link rel="icon" type="image/x-icon" href="./img/favicon.png"> -->
   <title>JAVAJAVA</title>
   <link rel="stylesheet" href="./css/BS.css">
   <link rel="stylesheet" href="./css/3.css">
</head>
<body>
<div id="wrapper">

<header class="displayFlex">
   <h1><a href="#">会員BAN画面</a></h1>
</header>

<main>

<article class="contents" id="contents-3">
   <table class="table table-striped">
      <tr>
         <th class="tableMenu">会員ID</th>
         <td>data01</td>
      </tr>
      <tr>
         <th class="tableMenu">名前</th>
         <td>data03</td>
      </tr>
      <tr>
         <th class="tableMenu">mail</th>
         <td>data03</td>
      </tr>
      <tr>
         <th class="tableMenu">tel</th>
         <td>data04</td>
      </tr>
   </table>
   <form action="#" method="post">
      <p>本当にBANしますか？</p>
      <div class="displayFlex send-column">
         <p><a class="buttonAnchor" href="#">いいえ</a></p>
         <p><button name="btn" value="makerRegister">はい</button></p>
      </div>
   </form>
</article><!-- contents -->

</main>

<footer>
   <p>COPYRIGHT © ALL RIGHTS RESERVED.</p>
</footer>

</div><!-- wrapper -->
</body>
</html>