<!DOCTYPE HTML>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <!-- <link rel="icon" type="image/x-icon" href="./img/favicon.png"> -->
   <title>JAVAJAVA</title>
   <link rel="stylesheet" href="./css/BS.css">
   <link rel="stylesheet" href="./css/3.css">
</head>
<body>
<div id="wrapper">

<header class="displayFlex">
   <h1><a href="#">社員登録画面</a></h1>
</header>

<main id="SRegister">

<article class="contents">
   <form action="#form-5" method="post" id="form-5">
      <table><tbody>
         <tr>
            <th>社員ID</th>
            <th class="central">：</th>
            <td><input type="text" name="id" value="" id="id" data-error_placement="#idErrorPlace"></td>
            <td id="idErrorPlace"></td>
         </tr>
         <tr>
            <th>名前</th>
            <th class="central">：</th>
            <td><input type="text" name="name" value="" id="name" data-error_placement="#nameErrorPlace"></td>
            <td id="nameErrorPlace"></td>
         </tr>
         <tr>
            <th>パスワード</th>
            <th class="central">：</th>
            <td><input type="password" name="password" id="password" data-error_placement="#passwordErrorPlace"></td>
            <td id="passwordErrorPlace"></td>
         </tr>
         <tr>
            <th>Email</th>
            <th class="central">：</th>
            <td><input type="text" name="mail" value=""></td>
         </tr>
         <tr>
            <th>tel</th>
            <th class="central">：</th>
            <td><input type="text" name="tel" value=""></td>
         </tr>
         <tr>
            <th>性別</th>
            <th class="central">：</th>
            <td>
               <div class="displayFlex" id="gender">
                  <label class="displayFlex">
                     <input type="radio" name="gender" value="M" class="gender" data-error_placement="#genderErrorPlace">
                     <p>male</p>
                  </label>
                  <label class="displayFlex">
                     <input type="radio" name="gender" value="F" class="gender">
                     <p>female</p>
                  </label>
               </div>
            </td>
            <td id="genderErrorPlace"></td>
         </tr>
         <tr>
            <th rowspan="2">生年月日</th>
            <th class="central">：</th>
            <td class="displayFlex" id="birthday">
               <p><input type="text" name="year" value="" id="year" data-error_placement="#yearErrorPlace">年</p>
               <p><input type="text" name="month" value="" id="month" data-error_placement="#monthErrorPlace">月</p>
               <p><input type="text" name="day" value="" id="day" data-error_placement="#dayErrorPlace">日</p>
            </td>
         </tr>
         <tr>
            <td class="displayFlex">
               <p id="yearErrorPlace"></p>
               <p id="monthErrorPlace"></p>
               <p id="dayErrorPlace"></p>
            </td>
         </tr>
      </tbody></table>
      <button name="btn" value="userVerify" id="uesrVerifyBtn">確認</button>
   </form>
</article><!-- contents -->

</main>

<footer>
   <p>COPYRIGHT © ALL RIGHTS RESERVED.</p>
</footer>

</div><!-- wrapper -->
</body>
</html>