<!DOCTYPE HTML>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <!-- <link rel="icon" type="image/x-icon" href="./img/favicon.png"> -->
   <title>JAVAJAVA</title>
   <link rel="stylesheet" href="./css/BS.css">
   <link rel="stylesheet" href="./css/4.css">
</head>
<body>
<div id="wrapper">

<header class="displayFlex">
   <h1><a href="#">login画面</a></h1>
</header>

<main id="login">

<article class="contents" id="contents-11">
   <form action="" method="post">
      <div class="input-column">
         <p>ユーザーID</p>
         <input type="text" name="id" value="">
         <p>パスワード</p>
         <input type="password" name="password" value="">
      </div>
      <p class="errorMsg"></p>
      <p><button name="" value="">ログイン</button></p>
   </form>
   <p class="anymore"><span>利用規約</span>と<span>プライバシー規約</span>に同意してログインしてください。</p>
   <p class="anymore"><span>パスワードを忘れた場合</span></p>
</article><!-- contents -->

</main>

<footer>
   <p>COPYRIGHT © ALL RIGHTS RESERVED.</p>
</footer>

</div><!-- wrapper -->
</body>
</html>