<!DOCTYPE HTML>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <!-- <link rel="icon" type="image/x-icon" href="./img/favicon.png"> -->
   <title>JAVAJAVA</title>
   <link rel="stylesheet" href="./css/BS.css">
   <link rel="stylesheet" href="./css/4.css">
</head>
<body>
<div id="wrapper">

<header class="displayFlex">
   <h1><a href="#">BAN通知画面</a></h1>
</header>

<main id="ban">

<article class="contents" id="contents-21">
   <p>
      お客様のアカウントは現在<br>
      利用停止状態です。
   </p>
   <p>お問合せはこちら</p>
</article><!-- contents -->

</main>

<footer>
   <p>COPYRIGHT © ALL RIGHTS RESERVED.</p>
</footer>

</div><!-- wrapper -->
</body>
</html>