<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>MANABO CHAT | サンプル</title>
	<meta content="MANABO CHAT" name="title">
	<meta content="オンライン授業を助けるチャット型Webアプリケーション" name="description">
	<meta content="オンライン授業" name="keywords">
	<!-- css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- jquery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>	
<body>
	<main>
		<h1>サンプルページ</h1>
		<p>サンプルページです。<br>
			基本的なCDNの読み込み設定などは完了しています。<br>
		</p>
		<h2>Node起動方法</h2>
		<ul>
			<li>$ npm start</li>
			<li>$ node bin/www</li>
			<li>$ nodemon bin/www</li>
		</ul>
	</main>
	<!-- socket.io CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
</body>
</html>