@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
$noto-sans-jp : 'Noto Sans JP', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
$m-plus:'M PLUS 1p', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
$zen-antique: 'Zen Antique', serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
$noto-serif: 'Noto Serif JP', serif;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$point-font: 'Public Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
$rock : 'RocknRoll One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$hatena : 'Russo One', sans-serif;

//$lineMainColor: #4A4E4C;
$button_color : #4A4E4C;
$button_font_color : white;
$form_color : white;
$bg-header-color: rgb(46, 255, 46) ;
$bg-menu-color: rgb(46, 255, 46) ;
$bg-main-color: rgb(255, 255, 255) ;
