<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <main class="mx-auto w-75">
        <h2>退会</h2>
        <article class="card">
            <h2 class="d-none">退会確認</h2>
            <section class="w-50 mx-auto">
                <table class="table table-borderless mt-3">
                    <tr>
                        <th scope="row">氏名</th>
                        <td>永峰弘万</td>
                    </tr>
                    <tr>
                        <th scope="row">住所</th>
                        <td>大阪府大阪市北区梅田３丁目３−１</td>
                    </tr>
                    <tr>
                        <th scope="row">メールアドレス</th>
                        <td>izawasouma@gmail.com</td>
                    </tr>
                </table>
            </section>

            <section class=" w-50 d-flex flex-column mx-auto">
                <a href="/withdrawal?userId=<%=user.US_id %>" class="btn btn-danger text-light w-75 mb-4 mx-auto">退会する</a>
                <a href="../user/mypage_top" class="btn btn-secondary text-light w-75 mb-4 mx-auto">戻る</a>
            </section>
        </article>
    </main>
</body>
</html>