<header class="d-flex bg-info justify-content-between p-3 sticky-top">
    <a href="/master/top" class="text-decoration-none text-light h3 font-weight-bold">HAL自動車</a>
    <div class="d-flex justify-content-between w-25">
        <a href="/master/user/user_list" class="btn btn-light">会員管理</a>
        <a href="/master/cars/car_list" class="btn btn-light">車両管理</a>
        <a href="/master/sales/sales" class="btn btn-light">売上管理</a>
    </div>
</header>