<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP</title>
</head>
<body>
    <main class="mx-auto w-75">
        <h2 class="mt-3 mb-3">TOP</h2>
        <article class="card">
            <section class="d-flex flex-column justify-content-center w-100 mt-4">
                <h3 class="d-none">ページリンク</h3>
                <a href="user/user_list" class="btn btn-primary text-light w-50 mb-4 mx-auto">会員管理</a>
                <a href="cars/car_list" class="btn btn-primary text-light w-50 mb-4 mx-auto">車両管理</a>
                <a href="sales/sales" class="btn btn-primary text-light w-50 mb-4 mx-auto">売上管理</a>
            </section>
        </article>
    </main>
</body>
</html>