.mb{
    &20{
        margin-bottom: 2rem;
    }
    &30{
        margin-bottom: 3rem;
    }
    &40{
        margin-bottom: 4rem;
    }
    &50{
        margin-bottom: 5rem;
    }
    &60{
        margin-bottom: 6rem;
    }
}
.mt{
    &20{
       margin-top: 20px;
    }
    &30{
        margin-top: 30px;
    }
    &40{
        margin-top: 40px;
    }
    &50{
        margin-top: 50px;
    }
    &60{
        margin-top: 60px;
    }
}

.mc{
    margin-left: auto;
    margin-right: auto;
}